@import "./variables.scss";

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  transition: 0.15s background-color ease-in-out, 0.15s color ease-in-out,
    0.3s box-shadow ease-in-out;
  font-family: "Mukta Malar", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  color: unset;
  text-decoration: none;
}
