@import "../../styles/variables.scss";

.signInButton {
  background-color: $white;
  border-radius: 70px;
  color: $black;
  min-width: 275px;
  min-height: 50px;

  &:hover {
    color: $white;
    background-color: $mood-blue;
  }
}
