@import "../../styles/variables.scss";

.moodSelectorTitle {
  color: $header-color;
  font-weight: 600;
  font-size: 18px;
  margin-top: 2rem;
}

.moodButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
