@import "../../styles/variables.scss";

.editDiaryTitleContainer {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.editDiaryTitle {
  color: $header-color;
  font-weight: 600;
  font-size: 20px;
}

.editDiaryBackButton {
  cursor: pointer;
  background-color: transparent;
  color: $header-color !important;
  font-family: $syncopate-font !important;
  font-size: 22px !important;

  &:hover {
    background-color: $light-gray;
  }
}
