@import "../../styles/variables.scss";

.userName {
}

.userAvatarContainer {
  border-radius: 50%;
  overflow: hidden;
  height: 50px;
}

.userAvatar {
  width: 100%;
  height: 100%;
}

.userInfoContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logOutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $light-gray;
  height: 40px;
  width: 96px;
  text-transform: uppercase;
  color: $header-color;
  border-radius: 10px;
  font-weight: 600;
}
