@import "../../styles/variables.scss";

.moodGraph {
  width: 100%;
}

.moodGraphWrapper {
  border: 1px solid $medium-gray;
  border-radius: 5px;
  padding: 1rem;
}

.moodGraphTitle {
  text-transform: uppercase;
  color: $dark-gray;
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0px;

  @media screen and ($desktop) {
    margin-top: 2rem;
  }
}

.customTooltipContainer {
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $medium-gray;
  padding: 0.5rem;
}

.customTooltipText {
  margin: unset;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
